<p>ex18 works!</p>
<div *ngFor="let customerType of customers">
  <h2>{{customerType.CustomterTypeName}}</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerType.Customers">
        <td>{{customer.Id}}</td>
        <td>{{customer.Name}}</td>
        <td>{{customer.Email}}</td>
        <td>{{customer.Age}}</td>
        <td><img [src]="customer.Image" alt="avatar" width="50" height="50"></td>
      </tr>
    </tbody>
  </table>
</div>
