table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th {
  background-color: #ffb5ba;
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}