<p>learndirective works!</p>
<button (click)="changeView()">Change View</button>
<div *ngIf="show_view==1;else view2">
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Pepsi</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Coca cola</td>
        </tr>
    </table>
</div>
<ng-template #view2>
    <table border="1">
        <tr>
            <td>ID:</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>Tefo</td>
        </tr>
    </table>
</ng-template>
<h1> Learn Ngfor</h1>
<h3>List Provinces</h3>
<p *ngFor="let p of provinces">{{p}}</p>
<select>
    <option *ngFor="let p of provinces">{{p}}</option>
</select>
<ol>
    <li *ngFor="let p of provinces">{{p}}</li>
</ol>
<h3> ngFor - List Products</h3>
<table border="1">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
            <td>Image</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td><img src="{{p.images}}" alt="{{p.name}}" width="100"></td>
        </tr>
    </tbody>
</table>
