<p>customer works!</p>
<table>
    <thead  *ngFor="let c of customers">
        <tr>
            <td>ID</td>
            <td>{{c.id}}</td>
            
        </tr>
        <tr>
            <td>Name</td>
            <td>{{c.name}}</td>
        </tr>
    </thead>
</table>
<table border="1">
    <tbody>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
        <tr *ngFor="let p of customers[0].products">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
        </tr>
    </tbody>  
</table>
<h2>Customer List</h2>

<ul>
  <li *ngFor="let c of customers">
    {{ c.name }} - {{ c.email }} - {{ c.phone }}
  </li>
</ul>

